@media only screen and (max-width: 550px) {
  .card {
    flex-direction: column;
    max-width: 340px;
  }

  .img-container {
    width: 100%;
    height: 40%;
  }

  .img-container img {
    content: url("../images/image-product-mobile.jpg");
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }

  .details-container {
    width: 100%;
    gap: 1rem;
    padding: 1.5rem;
  }
}